{
  "dist": "trusty",
  "addons": {
    "sonarcloud": {
      "token": {
        "secure": "mJtz4CLipsJP8YmiqXN/dtvatgRArYmJ8abhpUrSGe1ObXYfTv53OTDnPpVmHAUX4H6lqXe+6nXGe62VD1gjmcw/1lajnMu1Sev4vpzNdgT7jmVneANAvGH7gBbcsCewfVYwhJuwJiVcVOy4WGmk4tPRTz0dOZFe0PxdSMLIGWMTGKb+HjuyhOcokjLV3Ra1Gzj9/7fhsAhVdSS49X3O0nTn/wS6T+mWDQtGfRudGU0yK3qYePGAy1wUIkeGjv0LGOaIZkX+HJSPCNTZF4RCFF5WiMrgscXJy8qVkYWLKIdMSyjgNaFcmH53vQt6G2zbJz9lFVT47/S5kJROPwCQU81VRKotAu0ExkJj5XlezIyR7hAHKz3D8FoRfNxXrtefT0uviGZhnWMJI4Nl4JgKUrG+7UWg8sfJbfSad1odumf6d4eudmMynhBqnrVA5/wGlYrCRhZGo7njd2kuk0TgHBqWlQV+S5G4dCXakj5JgKfL5QJReyNUvdK5QeTHDZueNP7qaZsXT6S8YdPDnvBj16ofKmMLHEUR1HpLln0uS5cU9tie+yHENoQk4E/zxNJ/Mf5m6DFspqCPHXMu6Bi+Bg9pgN+Tf1d1pTtr69JFJ28qQdws59PlZgNRMhVxp7nkGnc/h6vtTh2LmYZoPZfv/xl5RMq1nNyslt10tg/k5m4="
      },
      "organization": "sophabatch6"
    }
  },
  "script": [
    "sonar-scanner"
  ]
}
